version: "3.8"

services:
  himmelblau-demo-builder:
    build: .
    image: himmelblau-demo
    mem_limit: "24g"
    environment:
      LOG_LEVEL: debug
      ENTRA_DOMAIN: ${ENTRA_DOMAIN}
      ENTRA_APP_UUID: ${ENTRA_APP_UUID}
      HSM_TYPE: ${HSM_TYPE}
      ENABLE_HELLO: ${ENABLE_HELLO}
      ENTRA_GROUP_UUID: ${ENTRA_GROUP_UUID}
    volumes:
      - ./build:/workspace:Z
    entrypoint:
      - "sh"
      - "-c"
      - "exec bash /compose-helper.sh"
